<div class="container-fluid vh-100 p-0" style="background-image:url('https://media.istockphoto.com/photos/background-digital-collage-or-typography-design-wallpaper-texture-picture-id537475374')">
    <div class="container h-50">
    </div>
    <div class="container h-25 rounded w-50 bg-dark text-center p-0">
      <div class="jumbotron rounded jumbotron-fluid pt-4 pb-3">
         <h1 class="display-4 font-weight-bold">ChatRoom</h1>
      </div>
         <div class="text-center">
           <button (click)="getStarted()" type="button" class="btn btn-success py-2 px-4" style="font-size:120%">Get Started</button>
         </div>
      
    </div>
  </div>